@import 'header';
@import 'icons';
@import 'footer';

body {
    max-width: 1773px;
    margin: 0 auto;
}

.wcu-box {
  
    min-height: 820px;
    background-image: url(/images/whyChooseUs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__box__wcu {
    width: 560px;
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #FFFFFF;

    &__h2-title {
         font-family: "Aleo", serif; /* ALEO */
        font-weight: normal;
        font-size: 36px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    &__info {
        font-family: "Montserrat", sans-serif; /* Josefine Sans */
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
        display: flex;
    }
}

.explore-btn {
    font-family: "Aleo", serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.2px;
    width: 228px;
    min-height: 63px;
    background-color: #496BFE;
    color: #FFFFFF;
}



.wcu__images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 440px;
    width: 100%;
    height: 450px;

    &__lakehouse {
        width: 350px;
        height: 200px;
        object-fit: cover;
        display: flex;
        align-self: flex-start;
    }

    &__mountains {
        width: 350px;
        height: 200px;
        object-fit: cover;
        display: flex;
        align-self: flex-end;
    }
}

.spain-one {
    background-image: url(/images/house.png);

    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
}

.spain__box__container {
    width: 1086px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spain__box {
    width: 543px;
    height: 374px;
    background-color: #232323;
    opacity: 90%;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 


    &__spain {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    &__h3-title {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    &__spain-info {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        width: 450px;
    }
}

.spain-two {
    background-image: url(/images/water.png);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.spain__box__container-two {
    width: 1086px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spain__box__two {
    width: 543px;
    height: 374px;
    background-color: #232323;
    opacity: 90%;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;

    &__spain {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    &__h3-title {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    &__spain-info {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
    }
}

.book-btn {
    font-family: "Aleo", serif; /* ALEO */
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.2px;
    width: 228px;
    min-height: 63px;
    background-color: #496BFE;
    color: #FFFFFF;
}

.wots {
    background-image: url(/images/adventure.png);
    height: 731px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    justify-content: space-around;

}

.h2-title {
            font-family: "Aleo", serif; /* ALEO */
            font-weight: normal;
            font-size: 36px;
            line-height: 26px;
            letter-spacing: 0px;
            color: #FFFFFF;         
}

.wots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 287px;
}


.wots__img {
    display: flex;
     align-items: center;

    &__wots-img {
        height: 280px;
        
    }
}

.wots__box {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #232323;
    height: 280px;
    padding-left: 20px;
    color: #FFFFFF;
   


    &__h3-title {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0px;
  
     
    }

    &__wots-info {
        font-family: "Montserrat", sans-serif; /* Josefine Sans */
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
      
    }
}

